# 字节码、优化文件和动态链接库
__pycache__/
*.py[cod]
*$py.class

# C 扩展
*.so

# 分发与打包
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller 打包文件
# 通常由 Python 脚本根据模板生成这些文件，
# 在 PyInstaller 构建可执行文件之前，写入日期等信息。
*.manifest
*.spec

# 安装日志
pip-log.txt
pip-delete-this-directory.txt

# 单元测试与覆盖率报告
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# 翻译文件
*.mo
*.pot

# Django 相关文件：
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask 相关文件：
instance/
.webassets-cache

# Scrapy 相关文件：
.scrapy

# Sphinx 文档
docs/_build/

# PyBuilder 构建文件
.pybuilder/
target/

# Jupyter Notebook 临时文件
.ipynb_checkpoints

# IPython 配置文件
profile_default/
ipython_config.py

# pyenv 环境管理
# 对于需要在多个环境中运行的库或包，可以忽略这些文件；
# 其他情况下，可以将它们纳入版本控制：
.python-version

# pipenv 依赖管理
# 根据 pypa/pipenv#598，建议将 Pipfile.lock 纳入版本控制。
# 但在协作中，如果依赖与平台绑定，或者不支持跨平台，
# pipenv 可能安装无法工作的依赖，
# 也可能无法安装全部所需依赖。
#Pipfile.lock

# PEP 582 的包目录，例如 github.com/David-OConnor/pyflow 使用它
__pypackages__/

# Celery 相关文件
celerybeat-schedule
celerybeat.pid

# SageMath 解析生成的文件
*.sage.py

# 环境文件
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder 项目设置
.spyderproject
.spyproject

# Rope 项目设置
.ropeproject

# mkdocs 文档
/site

# mypy 类型检查缓存
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre 类型检查器
.pyre/

# pytype 静态类型分析器
.pytype/

# Cython 调试符号
cython_debug/

# Sphinx 构建文件
docs/_build
docs/jupyter_execute
_build
jupyter_execute

# mise 与文档虚拟环境
.venv-docs/

# 集成开发环境配置
.idea

racetrack_oval_ppo/
