* text=auto  eol=lf
*.py    text eol=lf
*.pyi   text eol=lf
*.pyc   binary
*.ipynb text eol=lf

# 配置与数据
*.toml  text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf
*.lock  text eol=lf
*.json  text eol=lf

# 文档
*.md    text eol=lf
*.rst   text eol=lf
*.css   text eol=lf
*.html  text eol=lf

# 引用信息
*.cff   text eol=lf
*.bib   text eol=lf

# 脚本
*.bat   text eol=crlf
*.sh    text eol=lf

# 图片与视频文件
*.svg   binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.jfif  binary
*.gif   binary
*.mp4   binary

# 数据与模型存储格式
*.npz   binary
*.npy   binary
*.pkl   binary
*.zip   binary
*.bin   binary
*.pt    binary
*.pth   binary
*.ckpt  binary
*.safetensors binary
